Django==4.1.7 # https://docs.djangoproject.com/en/4.1/
djangorestframework==3.14.0 # https://www.django-rest-framework.org/
djangorestframework-simplejwt==5.2.2 # https://django-rest-framework-simplejwt.readthedocs.io/en/latest/
celery==5.2.7 # https://docs.celeryq.dev/en/stable/index.html
redis==4.5.3 # https://github.com/redis/redis-py
hiredis==2.2.2 # https://github.com/redis/hiredis
psycopg2==2.9.5 # https://www.psycopg.org/docs/
python-dotenv==1.0.0 # https://github.com/theskumar/python-dotenv
Faker==18.4.0 # https://github.com/joke2k/faker
django-cors-headers==3.14.0 # https://pypi.org/project/django-cors-headers/